.App {
  text-align: center;
  max-width: 100%;
}
.heading{
  border: 3px dashed blue;
  width: 20%;
  border-radius: 20px;
  margin: 30px auto;
  padding: 5px;
}
.Cards{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}
.card{
  margin: 0 auto;
  max-width: 30%;
}
.tour-cityimg{
  padding: 10px;
  width: 100%;
}
.tour-info{
  padding: 5px 20px;
  text-align: left;
}
.tour-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-price{
  color: green;
}
.readmore{
  color: blue;
  cursor: pointer;
}
.no-tour{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculateWidth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}